<div class="container">
    <h1 class="text-center p-3">Pipes</h1>

    <h2>Mayusculas & Minusculas</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Entrada</th>
                <th scope="col">Pipe</th>
                <th scope="col">Salida</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" rowspan="2">1</th>
                <td rowspan="2">{{ name }}</td>
                <td>uppercase</td>
                <td>{{ name | uppercase }}</td>
            </tr>
            <tr>
                <td>lowercase</td>
                <td>{{ name | lowercase }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <p><strong>Descripcion: </strong>Transforma una cadena de texto a mayusculas y/o minusculas</p>
                </td>
            </tr>
        </tbody>
    </table>

</div>
